@{
    ViewData["Title"] = "Home Page";
}

<div class="body">
     <h2>Next Generation Bench Test Utility</h2>
     <p> This application demonstrates login capabilities and intigration with the database.</p>
</div>
